# Ignore CondaTainer overlay files
*.sqf
*.img

# Ignore backup files
*.bak

# Ignore temporary files and logs
tmp
log
logs
*.tmp
*.log
*.out
*.err

# Ignore output directories
data
fastq
fastq-trimmed
quants
results

# Ignore RStudio project files
.Rproj.user
